/*body*/

.row {
    max-width: 1350px;
}

/*navigation*/

nav li {
    display: inline;
}
.nav_links {
    margin: 0 0;
}

/*banner*/

.banner,
nav {
    background-color: rgb(59, 47, 51);
}
.banner {
    text-align: center;
    padding-bottom: 10%;
}
.banner h1 {
    text-transform: uppercase;
    color: floralwhite;
}
.banner p {
    color: #8F8585;
}
#explore {
    background-color: rgb(59, 47, 51);
    color: floralwhite;
    padding: 1% 2%;
    text-transform: uppercase;
    transition: color 1s, background-color 1s;
}
#explore:hover {
    background-color: floralwhite;
    padding: 1% 2%;
    text-transform: uppercase;
    color: rgb(59, 47, 51);
    transition: color 1s, background-color 1s;
}

/*window*/

.blocks {
    padding: 0;
}
.site,
.discover {
    padding-left: 30%;
}
.site h2 {
    text-transform: uppercase;
}
